@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Truculenta:opsz,wght@12..72,100..900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.continar {
  height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.generate {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
input {
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px 20px;
  width: 25vw;
  font-size: 22px;
  caret-color: green;
}
.submitBtn {
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 5px;
}

.imagePage {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.home,
#restart {
  padding: 20px 30px;
}
.home {
  display: none;
}
